<dl>
{% for command in commandnames %}
<dt>
  <div class="cfgcmd-heading">
    <div class="cfgcmd">set {{ command | e }}</div>
    {% if loop.first %}
    <div class="command-tags">
      {% if cmd.multi %}
      <span class="command-tag multi">multivalue</span>
      {% endif %}
      {% if cmd.valueless %}
      <span class="command-tag valueless">valueless</span>
      {% endif %}
      {% if not cmd.valueless and not cmd.multi %}
      <span class="command-tag single">singlevalue</span>
      {% endif %}
      {% if cmd.secret %}
      <span class="command-tag secret">secret</span>
      {% endif %}
    </div>
    {% endif %}
  </div>
</dt>
  
{% endfor %}

<dd>
{% if cmd.default_value %}
<span class="command-tag default">default: {{ cmd.default_value }}</span>
{% endif %}

{{ cmd.help | e }}

{% if cmd.value_help != [] %}
| Value | Help |
|-------|------|
{% for value, help in cmd.value_help %}
| `{{ value | e }}` |  {{ help | e }} |
{% endfor %}

{% endif %}
{% if cmd.node_type != "other" %}
constraint error message: {{ cmd.constraint_error_message }}

{% endif %}
{% if cmd.docs.text != "" %}
{{ cmd.docs.text }}

{% endif %}
{% if cmd.docs.hints | length > 0 %}
{% for hint in cmd.docs.hints %}
:::{{ hint.hint_type }}

{{ hint.text }}

:::
{% endfor %}
{% endif %}

{% if cmd.docs.usageExample != "" %}
Usage Example:

{% for line in cmd.docs.usageExample.split('\n') %}
  {{ line }}
{% endfor %}

{% endif %}

</dd>
</dl>
