# Coverage

## Configuration Commands which are not covered by any template

```
{%for cmd in cfg_coverage %}
- {{ cmd }}
{% endfor %}
```

## Operational Mode Commands which are not covered by any template

```
{%for cmd in op_coverage %}
- {{ cmd }}
{% endfor %}
```